<div class="modal fade text-dark" id="manageIncomeForm" tabindex="-1" aria-labelledby="manageIncomeHeader" aria-hidden="true">
  
  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="manageIncomeHeader">Manage Income:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form id="editIncomeForm">

            <h2>Edit Income</h2>

            <div class="input-group mb-3">
                <label class="input-group-text" for="editIncomeChoices">Choose Income</label>
                <select class="form-select" name="editIncomeChoices" id="editIncomeChoices">
                    {{#each incomes}}
                        <option value="{{id}}">{{income_type}}</option>
                    {{/each}}
                </select>
            </div>
            
            <div class="input-group mb-3">
                <span class="input-group-text" id="editIncomeLabel">$</span> 
                <input type="text" class="form-control" id="editIncomeAmount" placeholder="Amount" aria-label="Amount" aria-describedby="editIncomelabel">
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text" for="editIncomeSource">Source</label>
                <select class="form-select" name="editIncomeSource"  id="editIncomeSource">
                    <option value="Work">Work</option>
                    <option value="Passive">Passive</option>
                    <option value="Stock/Crypto">Stock/Crypto</option>
                </select>
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text" for="editIncomeFrequency">Frequency</label>
                <select class="form-select" id="editIncomeFrequency">
                    <option value="Single">Single</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Yearly">Yearly</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Edit Income</button>
        </form>


        <h2>Delete Income</h2>

        <form id="deleteIncomeForm">

            <div class="input-group mb-3">
                <label class="input-group-text" for="deleteIncomeChoices">Choose Income</label>
                <select class="form-select" name="deleteIncomeChoices" id="deleteIncomeChoices">
                    {{#each incomes}}
                        <option value="{{id}}">{{income_type}}</option>
                    {{/each}}
                </select>
            </div>

            <button type="submit" class="btn btn-danger">Delete Income</button>
        </form>
      </div>
    </div>
  </div>
</div>

