<div class="modal fade text-dark" id="manageIncomeForm" tabindex="-1" aria-labelledby="manageIncomeHeader" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="manageIncomeHeader">Manage Income:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editIncomeForm">

        </form>
        <form id="deleteIncomeForm">
            
        </form>
      </div>
      
    </div>
  </div>
</div>

