<tr>
  {{#each Monthly.length}}
  <li>{{monthly_name.length}} monthly_name</li>
  <li>{{monthly_value.length}} monthly_value</li>
  <li>{{Monthly.expense_type.length}} expense_type</li>
  {{else}}
  There are no values here
  {{/each}}
</tr>