<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
  </tr>
  {{#each this}}
  <tr>
    <td>{{single.single_name}}</td>
  </tr>
  <tr>
    <td>{{single.single_amount}}</td>
  </tr>
  {{/each}}
</table>