<h1>Welcome {{user.username}}</h1>
<p>Below is a list of all debts</p>

<div class="monthly-chart">
<table class="monthly-values">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        {{> monthly-chart}}
    </tbody>
</table>
</div>

<div class="yearly-chart">
{{{ yearly-chart }}}
</div>

<div class="singular-chart">
{{{ singular-chart }}}
</div>


<button type="button" class="monthly-estimate">View Monthly estimated budget</button>
<button type="button" class="yearly-estimate">View Yearly estimated budget</button>