<h1>Welcome `{USER}`</h1>
<p>Below is a list of all debts</p>

{{{ chart }}}

<button type="button" class="monthly-estimate">View Monthly estimated budget</button>
<button type="button" class="yearly-estimate">View Yearly estimated budget</button>