<div class="col-6 justify-content-center">
  <h2 class="fs-1 mb-3">Login</h2>
  <form class="login-form p-2 border border-success rounded bg-success">
    <div class="mb-3">
      <label for="email-input" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="password-input" class="form-label">Password</label>
      <input type="password" class="form-control" id="password-input">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="stay-logged">
      <label class="form-check-label" for="stay-logged">Keep me signed in</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<script src="/javascript/login.js"></script>